<% @hd_title = "Notre actualité" %>

<div class="tabs_wrapper">
	<ul id="events_tabs" class="tabs">
		<li class="tab"><a href="#inaugurations">Inaugurations</a></li>
		<li class="tab"><a href="#won_contests">Concours gagnés</a></li>
	</ul>
	<div id="inaugurations" class="tab_content events_tab">
		<%= render :partial => 'list_item',	:collection => @inaugurations %>
	</div>
	<div id="won_contests" class="tab_content events_tab">
		<%= render :partial => 'list_item',	:collection => @won_contests %>
	</div>			
</div>

<%= javascript_tag "new Control.Tabs('events_tabs')" %>