<% user = list_item %>
<% user_counter = list_item_counter %>

<div class="<%= user_counter.even? ? 'list_item_even' : 'list_item_odd' %>">
  <div class="top_links">
    	<%= link_to 'Supprimer', admin_user_path(user), :confirm => 'Êtes-vous sûr de vouloir supprimer cet utilisateur ?',
														:method => :delete %>
	</div>
  
	<h4><%= user.login -%></h4>
	<p><%= user.email -%></p>	
	
	
</div>